{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="page-header"><h3><b>Blogs</b></h3></div>
    <div class="text-muted" style="margin-bottom:30px"><h3>Latest posts</h3></div>
    {% for blog in data %}
    <div style="margin-bottom:20px">
    {#
        <div class="col-md-2 hidden-xs">
        <img src={{url_for("static",filename="uploads/"+blog.author.photo)}} class="img-thumbnail" alt="person">
        </div>
          #}
        <div class="col-md-8 col-xs-12">
            <a href="{{ url_for('read',id=blog.postid) }}">{{ blog.title }}</a>
            <p><h5>Posted on <font color="blue">{{ blog.modifiedTime.strftime('%Y-%m-%d %H:%M:%S') }}</font> by <font color="blue">{{ blog.author.username }}</font></h5></p>
            {{ blog.content | safe }}
            <hr />
        </div>
	</div>
    {% endfor %}
</div>
	
{% endblock %}
