{% extends "base.html" %}
{% block content %}
<div class="container">
        <div class="col-md-9 col-sm-12">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <img src={{ url_for("static", filename="images/SNLAB.png") }} width="260px"/>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="page-header" style="margin-top:10px">
                        <h4>System Network Laboratory</h4>
			<h5>{{brief}}</h5>				
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="row page-header" style="margin-top:10px">
                        <div class="col-md-8 col-xs-8"><b>Events</b></div>
                        <div class="col-md-4 col-xs-4"><a href="url_for('event')">&gt;&gt;More</a></div>
		    </div>
		    {% for event in events %}	
                    <div style="margin-bottom:10px">
                    	<a class="text-muted" href="{{url_for(event.src)}}"> event.content</a>
                    </div>
		    {% endfor %}
                </div>

                <div class="col-md-4 col-sm-12">
                    <div class="row page-header" style="margin-top:10px">
                        <div class="col-md-8 col-xs-8"><b>Blog</b></div>
                        <div class="col-md-4 col-xs-4"><a href="url_for('blog')">&gt;&gt;More</a></div>
                    </div>
		   {% for blog in blogs%}
		    <div style="margin-bottom:10px">
			<div class="col-md-6 col-xs-6">
			<img src={{ url_for("static",filename="{{blog.person}}")}} class="img-thumbnail" alt="person"></div>
			<div class="col-md-6 col-xs-6">	
				<a href="{{url_for(blog.src)}}">{{blog.content}}-{{blog.time}}</a>
			</div>
		    </div>
		   {% endfor %}
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="row page-header" style="margin-top:10px">
                        <div class="col-md-8 col-xs-8"><b>News</b></div>
                        <div class="col-md-4 col-xs-4"><a href="url_for('news')">&gt;&gt;More</a></div>
                    </div>
                    <div>
			<ul>
				{% for news in newss%}
				<li style="margin-bottom:10px"><a href="{{url_for(news.src)}}">{{news.content}}-{{news.time}}</a></li>
		   		{% endfor %}
                        </ul>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h4>Featured Project: ALTO</h4>
                    </div>
                </div>
            </div>
            </div>
        <div class="col-md-3 hidden-sm">
		{% for sponser in sponsers%}
		<img class="col-md-4" src=url_for('sponser.img') alt="sponser"/>
		{% endfor %}
        </div>
	<div class="col-md-12 hidden-sm">
		<h5><center>copyright@ 2016 SNlab</center></h5>
	</div>
    </div>
{% endblock %}
