{% extends "base.html"%}
{% block content%}
<div class="container">
	<div class="col-md-9">
		<h4 class="page-header">Directors</h4>
		<div class="row">
			<div class="col-md-3">
				<img src={{ url_for("static", filename="images/pic.jpg")}} />
				<a><center>MICHAEL</center></a>
				<p class="text-muted"><center>director</center></p>	
			</div>
				<div class="col-md-3">
				<img src={{ url_for("static", filename="images/pic.jpg")}} />
				<a>MICHAEL</a>
				<p class="text-muted">director</p>	
			</div>
		</div>
	</div>

</div>

{% endblock %}
